body {
    padding-top: 80px;
}

/* product cart design */
.show-cart li {
    display: flex;
}

.cart-container {
    position: relative;
    display: inline-block;
}

.cart-icon {
    width: 30px; /* Adjust the width and height according to your icon size */
    height: 30px;
    cursor: pointer;
}

/* Add a hover effect if desired */
.cart-container:hover .cart-icon {
    filter: brightness(1.2); /* Adjust the brightness for the hover effect */
}

.card {
    margin-bottom: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    align-self: center;
}

.card-product .img-wrap {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
    position: relative;
    height: 220px;
    text-align: center;
}

.card-product .img-wrap img {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
}

.card-product .info-wrap {
    overflow: hidden;
    padding: 15px;
    border-top: 1px solid #eee;
}

.card-product .bottom-wrap {
    padding: 15px;
    border-top: 1px solid #eee;
}

.label-rating {
    margin-right: 10px;
    color: #333;
    display: inline-block;
    vertical-align: middle;
}

.card-product .price-old {
    color: #999;
}

/* shopping cart counter */
.header { background: rgb(0, 178, 255); color: #fff; }

#lblCartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.badge {
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

/* shopping cart counter style */

i.fa-shopping-cart {
    width: 2.2em;
    text-align: center;
    vertical-align: middle;
}

.fa-shopping-cart {
    margin-top: 0.2em;
    position: relative;
}

.badge {
    font-size: .25em;
    display: block;
    position: absolute;
    top: -.70em;
    right: -.70em;
    width: 2.5em;
    height: 2.4em;
    line-height: 2em;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    background: rgba(207, 0, 15, 1);
}

/* product zoom on hover */
.zoom, .zoom-sm {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.05);
}

.zoom-sm:hover {
    transform: scale(1.03);
}

/* shopping cart toast */
#product-toast {
    visibility: hidden;
    max-width: 50px;
    height: 50px;
    margin: auto;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    position: fixed;
    z-index: 1;
    left: 0; right: 0;
    bottom: 30px;
    font-size: 17px;
    white-space: nowrap;
}

#product-toast #img {
    width: 70px;
    height: 50px;
    float: left;
    padding-top: 16px;
    padding-bottom: 16px;
    box-sizing: border-box;
    background-color: #111;
    color: #fff;
    padding: 16px;
    overflow: hidden;
    white-space: nowrap;
}

#product-toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s, fadeout 0.5s 4.5s;
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}

@keyframes expand {
    from {min-width: 50px}
    to {min-width: 350px}
}

@-webkit-keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}

@keyframes stay {
    from {min-width: 350px}
    to {min-width: 350px}
}

@-webkit-keyframes shrink {
    from {min-width: 350px;}
    to {min-width: 50px;}
}

@keyframes shrink {
    from {min-width: 350px;}
    to {min-width: 50px;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 60px; opacity: 0;}
}
